
<div>
    <button type="button" class="btn btn-danger" id="cleardata">Clear All Data</button>
</div>
<div>
    <button type="button" class="btn btn-info" id="addsampledata">Insert Sample Data</button>
</div>