<a href='/turnorder'>
    <h2>Turn Order</h2>
</a>
<p>This page shows the characters that are involved in an individual encounter and displays the relevant stats. (makes use of the M:M tables characters, encounters, and conditions)</p>
<a href='/encounters'>
    <h2>Encounters</h2>
</a>
<p>This page lists the current encounters. Click here to add or update an encounter.</p>
<a href='/characters'>
    <h2>Characters</h2>
</a>
<p>This page is for managing Characters.  Add new characters or update the attributes of a Character here.</p>
<a href='/characterdetails'>
    <h2>Character Details</h2>
</a>
<p>Character details show the conditions and items a character is holding. Click here to add or change a characters conditions and items. 
    (makes use of the M:M tables for characters and conditions and the 1:M between Items and Characters.)</p>
<a href='/conditions'>
    <h2>Conditions</h2>
</a>
<p> The conditions page lists the availble conidtions and their effects.  Edit, add, or delete conditions on this page.</p>
<a href='/items'>
    <h2>Items</h2>
</a>
<p>Characters may hold items.  This page is to manage the items available.</p>
<a href='/reset'>
    <h2>Reset To Sample Data</h2>
</a>
<p>BE CAREFUL.  Click this link to delete all the current save data and reload to the sample data.</p>