<h1>Add a new Encounter:</h1>
<form id="update-encounter" action="/encounters" method="post" class="row">
    <div class="mb-3 col-4">
        <label class="form-label">Round</label>
        <input type="text" class="form-control" id="round" name="round" value="{{selectedEncounter.round}}">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Setting</label>
        <input type="text" class="form-control" id="setting" name="setting" value="{{selectedEncounter.setting}}">
    </div>
</form>
<button onclick="updateEncounter({{selectedEncounter.enID}})">Update</button>